<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is jts home</title>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script defer src="app.js"></script>
  </head>

    <body class="light">
        <!-- Navbar -->

        <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">Home</li>
            <li class="nav-item">About</li>

            <!-- Dropdown -->

            <li class="nav-item has-dropdown">
            <a href="#">Theme</a>
            <ul class="dropdown">
                <li class="dropdown-item">
                <a id="light" href="#">light</a>
                </li>
                <li class="dropdown-item">
                <a id="dark" href="#">dark</a>
                </li>
                <li class="dropdown-item">
                <a id="solar" href="#">solarize</a>
                </li>
            </ul>
            </li>

            <li class="nav-item">Login</li>
        </ul>
        </nav>

        <header>
            <img src="logo.png" class="logo">
            <h1>Meme Delivery<br>Fired Up!</h1>

            <p>Nothing works here</p>
        </header>
        <h1>
            welcome to my home
        </h1>
        <iframe src="https://giphy.com/embed/dvdcBNbAiNVT9Z0iwP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/WonderPals-happy-dance-funny-dvdcBNbAiNVT9Z0iwP"></a></p>
    </body>
</html>